html,
body {
    margin: 0px;
    background-color: #1F2937;
}

.hero {
    height: 400px;
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.operations {
    height: 550px;
    background: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#input-section {
    font-size: 100px;
    background: transparent;
    color: white;
    border: 0;
    text-align: center;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;

}

.individual-operation {

    margin: 20px 0px;
    color: white;
    width: 400px;
    text-align: center;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #D2D2D2;
}

::placeholder {
    color: white;
    font-family: 'Inter', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#error-message {
    color: #1F2937;
    font-size: 20px;
    margin: 80px;
}

/* footer {
    background: #1F2937;
    padding: 20px;
    color: white;
    font-size: 15px;
}

.small-width {
    width: 55px;
}

.logos {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 0px;
}
*/
@media print {
    .operations {
        page-break-after: always;
    }
}